@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*
{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

body
{
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    background-color: black;
    color: white;
}

main
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}